<a href="https://colab.research.google.com/github/Ammupmanoj/Ammupmanoj/blob/main/number_game_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(f"{num} is Even")
else:
    print(f"{num} is Odd")

Enter a number: 67
67 is Odd

In [4]:
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Enter a number: 89
89 x 1 = 89
89 x 2 = 178
89 x 3 = 267
89 x 4 = 356
89 x 5 = 445
89 x 6 = 534
89 x 7 = 623
89 x 8 = 712
89 x 9 = 801
89 x 10 = 890

In [5]:
n = int(input("Enter a number: "))
fact = 1
for i in range(1, n+1):
    fact *= i
print(f"Factorial of {n} = {fact}")

Enter a number: 3
Factorial of 3 = 6

In [6]:
n = int(input("Enter a number: "))
fact = 1
for i in range(1, n+1):
    fact *= i
print(f"Factorial of {n} = {fact}")

Enter a number: 23
Factorial of 23 = 25852016738884976640000

In [7]:
num = int(input("Enter a number: "))
total = 0
for digit in str(num):
    total += int(digit)
print(f"Sum of digits of {num} = {total}")

Enter a number: 4
Sum of digits of 4 = 4

In [8]:
num = int(input("Enter a number: "))
reverse = int(str(num)[::-1])
print(f"Reverse of {num} = {reverse}")

Enter a number: 56
Reverse of 56 = 65

In [9]:
num = int(input("Enter a number: "))
if str(num) == str(num)[::-1]:
    print(f"{num} is a Palindrome")
else:
    print(f"{num} is NOT a Palindrome")

Enter a number: 5589
5589 is NOT a Palindrome

In [10]:
num = int(input("Enter a number: "))
s = sum(int(digit)**3 for digit in str(num))
if s == num:
    print(f"{num} is an Armstrong number")
else:
    print(f"{num} is NOT an Armstrong number")

Enter a number: 253
253 is NOT an Armstrong number

In [11]:
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(f"{num} is NOT Prime")
            break
    else:
        print(f"{num} is Prime")
else:
    print(f"{num} is NOT Prime")

Enter a number: 56
56 is NOT Prime

In [12]:
n = int(input("Enter how many terms: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter how many terms: 45
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733